@using lab5.ViewModels
@model PatientsViewModel
@{
    ViewData["Title"] = "Index";
}

<div>
    <div class="data-search">
        @using (Html.BeginForm("Index", "Patient", FormMethod.Post))
        {
        <fieldset>
            Имя: @Html.TextBox("PatientName", Model.PatientViewModel.PatientName)
            <input type="submit" value="Найти" />
        </fieldset>
        }
    </div>
    <div>
        Пациенты
        <table>
            <tr>
                <td><a asp-controller="Patient" asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">Имя</a></td>
                <td>Болезнь</td>
                <td>Лечащий врач</td>
                <td>Болезнь(через ключ)</td>
            </tr>
            @{
                foreach (Patient i in Model.PageViewModel)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => i.PatientName)</td>
                        <td>@Html.DisplayFor(modelItem => i.PatientDisease)</td>
                        <td>@Html.DisplayFor(modelItem => i.PatientAttendingPhysician)</td>
                        <td>@Html.DisplayFor(modelItem => i.Disease.DiseaseName)</td>
                    </tr>
                }
            }
        </table>
        <page-link page-model="Model.Pages" page-action="Index"></page-link>
    </div>
</div>
